body{
    /* height: 105vh;
     width: 100vw;  */
     background-image: url(../assets/img/back3.jpeg);
     background-attachment: fixed;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     /* background-color: rgba(106, 121, 168,0.10); */
 }
 .div1{background-color: rgb(68, 118, 168);    
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 10vh;
    /* margin-top: 100px; */
}

    .logo{width: 200px;   
        margin-top:-8px;
    } 
    .all {
        display: flex;
        padding: 100px;
    }
    .div2{background-color: wheat;  
        float: right;
        width: 50vw;
        height: 80vh;
        /* margin-top: -400px; */
        margin-right: 100px;
        box-shadow: 5px 10px 30px #a07c7c;
        
    }
    textarea{float: center;
        box-shadow: 5px 10px 30px #a07c7c;
    margin-top: -40px;   
    margin-left: 100px;
    height: 60vh;
    border: none;
}
.log{width: 250px;
    height: 50px;
    border: 1px solid rgb(38, 21, 77);
    transition: background 2s;
    margin: 20px;
    box-shadow: 5px 10px 30px #0f0000;
}
.menu{
    margin-top: 70px;    
    margin-left: 150px;
}
.save{float: center; 
    text-align: center;
    /* margin-top: -40px; */
}

.copy{text-align: center;
    margin-top: 200px;
    background-color: rgba(200, 100, 0, 0.1);
    padding: 20px;
    font-size: 20px;

 
}
.log:hover{ 
    background: rgb(4, 36, 36); 
}

.cofe{float: right; 
    width: 100px;
    margin-right: 10px;
}
.pen{width: 100px;}
.div1 a{color: black; 
    text-decoration: none;
    font-size: 25px;
    margin: 90px;
    margin-left: 400px;
    /* align-items: center; */
    /* margin-top: -70px; */

} 