*{padding: 0;
margin: 0;}
.menu{display: flex;
    justify-content: center;
    list-style-type: none; 
    /* background-color:  rgba(200, 100, 10, 1.7); */
    
    flex-wrap: wrap;
    
    }
    .menu li a{padding: 20px;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;}
    menu li a:hover{
        color: antiquewhite;
        background: darkcyan;
    }
    .menu li{flex-basis: 100px;
    flex-shrink: 0;
    flex-grow: 1;}
    body{
       /* height: 105vh;
        width: 100vw;  */
        background-image: url(../assets/img/back5.jpeg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .content{display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;}
     .center-box{
    /* border: 1px solid chocolate ; */
    /* border-radius: 10px; */
    font-size: 17px;
    width: 200px;
    margin-top: -50px;
/* font-family:Verdana, Geneva, Tahoma, sans-serif; */
}
    .menu.logo{height: 60px ;
    width: 100px;   
     /* margin-top: -100px;  */
}
    .form{text-align: center; 
    color: black;
    /* text-transform:uppercase;     */
      /* background-color: cadetblue;  */
      background: linear-gradient(#0000001f,#000); 
    border :1px solid rgb(106, 121, 168);
    width:450px;
    height: 120vh;
        margin-top: 35px;
        box-shadow: 5px 10px 30px #a07c7c;
        border-radius: 10px;
      ;
       
}
    /* .form a{color: black;
    margin-top: 70px;} */
    
    #img{height: 80px;
    width: 80px;
    float: right;
}
.input{margin-top: 130px;
}
.log{width: 200px;
    height: 35px;
    border: 1px solid rgb(38, 21, 77);
    transition: background 2s;
    border-radius: 4px;
}
.log:hover{ 
    background: rgb(4, 36, 36); }
    i{padding: 10px;
        margin-top: 100px;
       }

/* .header{float: right;} */
.logo{margin-top: -50px;
}
.put{
    text-align: center;
    border: 0px 0px 0px 10px ;
    color:cadetblue;
    font-size: 15px;

     
}
.not{
  color: #2980B9;
  font-size: 25px;
}
.create{font-size: 25px;
color: whitesmoke}
.user{
  color: whitesmoke;
  font-size: 20px;
}
.pass{
  color: whitesmoke;
  font-size: 20px;
}
.main-content{justify-content: center;  
        align-items: center;
        height: 50vh;
        flex-direction: column;
        display: flex;
            margin-bottom: 30vh;}
            .put{ border: none;
                border-bottom: 2px solid black;
               border-radius: 5px;
               width: 200px;
               height: 30px;
               
            }
           
              /* .dropup {
                position: relative;
                display: inline-block;
                right: -840px;
                top:80px;
               
              }
              .dropbtn {
                background-color: #3498DB;
                color: black;
                padding: 13px;
                font-size: 16px;
                border: none;
                width: 100px;
                height: 100px;
              }
              .dropup-content {
                display: none;
                position: absolute;
                background-color: #f1f1f1;
                width: 87px;
                bottom: 50px;
                z-index: 1;
                margin-bottom: -10px;
              }
              .dropup-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
              }
              .dropup:hover .dropup-content {
                display: block;
              }
              .dropup:hover .dropbtn {
                background-color: #2980B9;
              } */

              .menu{display: flex;
                justify-content: center;
                list-style-type: none; 
                background-color:rgba(248, 248, 245, 0.6);
                height: 20vh;
                flex-wrap:wrap;
                z-index: 1;
                }
                .menu li a{
                  display: flex;
                  /* flex-basis: ; */
                   text-transform: uppercase;
                   text-decoration: none;
                   color:black;
                   }  
                   .menu li a:hover {
                       color: rgb(20, 10, 34);
                       background-color: rgb(105, 147, 236);
                       color: #8d6448;
                       transition: background 2s;
                       margin: 10px
                       }
                       .menu .logo{height:100% ;
                        margin-right: 450px;
                        width: 200px;
                        margin-top: -2px;
                    }