body{
    background-color: aquamarine;
    padding: 0;
    margin: 0;
    border: solid
}
.container{
    border: 4px solid rgb(231, 183, 26);
    display: grid;
    /* grid-template-columns: 10vw auto;
    grid-template-rows: 50px auto; */
    grid-gap: 4px;
    height: 90vh;
    grid-template-rows: 50px auto 50px;
    grid-template-areas: "
    h h h h h h h h h h h h
    s s c c c c c c c c c c
    f f f f f f f f f f f f
    "
}
.header{background-color: gray}
.p{
    background-color: skyblue
}
.footer{background-color: darksalmon}
/* .sidebar{
    grid-area: s;
    background: skyblue
} */
